<div class="card-container">
  <div class="h1container">
    <h1>Become a Registered Dealer with Bigtokri!</h1>
  </div>
  <div class="bottom-container">
    <div class="left-container">
      <p>We invite all retailers to join our network and enjoy exclusive benefits!</p>
      <ul>
        <li>Best prices guaranteed, comparable to Pune Market Yard rates</li>
        <li>Competitive margins and incentives</li>
        <li>Timely deliveries and efficient logistics</li>
      </ul>
      <button class="register-button">Register Now</button>
    </div>
    <div class="right-container">
      <img src="./assets/redman.webp" alt="Man holding a box of vegetables">
    </div>
  </div>
</div>
